@model IEnumerable<DAFA.Application.ViewModels.EventWarningViewModel>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>DAFA Consultoria</h1>
    <p />
    <h3>Quem somos</h3>
    <h4 class="text-info">A DAFA é uma empresa de consultoria nas áreas de mineração, geologia e meio ambente.</h4>
    <h3>Visão</h3>
    <h4 class="text-info">Ser conhecida pela sociedade como uma instituição de excelência, que vai além de ser uma prestadora de serviços e capaz de se tornar uma empresa amiga dos seus clientes.</h4>
    <h3>Áreas de atuação</h3>
    <h4 class="text-info">A DAFA  presta serviços em todo o Nordeste com forte atuação nos estados de Sergipe, Alagoas e Bahia.</h4>
    <p><a href="http://www.dafaconsultoria.com.br" class="btn btn-primary btn-lg">Saiba mais &raquo;</a></p>
    @*<img src="http://www.dafaconsultoria.com.br/wp-content/uploads/2016/11/nof-areal.jpg" alt="Licenciamento e Regularização de" style="width: 100%; max-height: 500px;"/>*@
</div>

@Html.Partial("../Event/_NextEvents", Model)

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>